<h1 align="center"> <span></span><span>VIEW MENU</span></h1>

<table class="table table-dark table-striped">
  
  <tr>
    <th>VIEW MENUS</th>
    <th data-th="Type of Menu"><span>Food Name</span></th>
    <th>Image</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  


  <tr *ngFor="let menu of apiService.menus">

    <td>{{ menu.menutype }}</td>
    <td>{{ menu.foodname }}</td>
     <td>{{ menu.image }}</td>
     <td>{{ menu.quantity }}</td>
      <td>{{ menu.price }}</td>

  </tr>
  
 
  
</table>